@font-face {
  font-family: "Larsseit";
  src: url("../fonts/Larsseit-family/Larsseit.ttf") format("ttf"),
    url("../fonts/Larsseit-family/Larsseit.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
